<div class="row mb-1">
    <div class="col m-auto">@Pizza.Name</div>
    <div class="col m-auto">@($"{Pizza.Price:0.00}")</div>
    <div class="col m-auto"></div>
    <div class="col m-auto">@((MarkupString)SpicinessImage(Pizza.Spiciness))</div>
    <div class="col m-auto"><button class="btn btn-success pl-4 pr-4" @onclick="@(() => Selected.InvokeAsync(Pizza))">Add</button></div>
</div>